/* purgecss start ignore */
@tailwind base;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a202c;
}

@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* grid alignments */
.justify-g-center {
  justify-items: center;
}

#loader .react-loading-skeleton {
  @apply rounded-full;
}